#!/usr/bin/env ruby

# Compilation Rules
# =================

# The table of contents uses a special layout.
compile '/contents/' do
  filter :kramdown
  layout 'blank'
end

compile '/styles/stylesheet/' do
  filter :sass, :syntax => :scss
end

compile '/styles/*/' do
  # Do not filter our output the support files.
end

compile '/js/*/' do
  # Do not filter or layout JS files
end

compile '/images/*/' do
  # don’t filter or layout
end

compile '*' do
  filter :erb
  filter :kramdown, :toc_levels => "2..6"
  filter :blizzquote
  layout 'default'
end

# Routing Rules
# =============

route '/' do
  '/index.html'
end


route '/styles/stylesheet/' do
  '/styles/stylesheet.css'
end

route '/styles/*/' do
  nil # Do not filter our output the support files.
end

route '/js/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '/images/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '*' do
  item.identifier.chop + '.html'
end

layout '*', :erb
