<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blizzard Community Platform API Documentation - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="/js/json2.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="contents">
        <h1>Contents</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li>APIs</li>
          <ul>
            <li><a href="/api/realm/">Realm Status</a></li>
          </ul>
          <li><a href="/playground/">API Playground</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <hr>
    <div id="legal">
      World of Warcraft® and Blizzard Entertainment® are
      all trademarks or registered trademarks of Blizzard
      Entertainment in the United States and/or other
      countries. These terms and all related materials,
      logos, and images are copyright © Blizzard
      Entertainment. This site is in no way associated with
      or endorsed by Blizzard Entertainment®.
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3812928-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
