<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blizzard Community Platform API Documentation - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="/js/json2.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="contents">
        <h1>Contents</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li>APIs</li>
          <ul>
            <li><a href="/api/realm.html">Realm Status</a></li>
          </ul>
          <li><a href="/playground.html">API Playground</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
  </body>
</html>
